// colors:
$lighter: #27283D;
$lighter2: #2E3054;

$body-bg: #1E1D30;
$body-color: rgb(222, 222, 248);
$primary: #BE54EE !default;
$secondary: $lighter;
$info: #3461A1;
$success: #185F4B;

// alerts
$alert-bg-level: -4;
$alert-border-level: -4;

// nav
$navbar-dark-color: white;
$navbar-dark-active-color: $lighter;

// jumbotron
$jumbotron-bg: $lighter;

// dropdown variables
$dropdown-bg: $lighter;
$dropdown-color: white;
$dropdown-link-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $primary;
$dropdown-link-active-color: white;
$dropdown-link-active-bg: $primary;

// forms
$input-bg: $lighter;
$input-color: white;
$input-border-color: $primary;
$modal-header-border-color: rgb(9, 9, 26);

// modals
$modal-content-bg: $lighter2;

// breadcrumbs
$breadcrumb-bg: $lighter2;


@import "../../node_modules/bootstrap/scss/bootstrap";

// custom
.navbar-brand span {
    font-size: 20px;
    line-height: 38px;
    background-color: $lighter2;
    border-radius: 50%;
    color: $primary;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

#main {
    padding: 50px 0;
}
.content-header__btns {
    line-height: 2.5em;
}
hr {
    border-top: 1px solid $primary;
}
.card {
    background-color: transparent;
}
.card-body {
    background-color: $lighter;
}
.btn-custom {
    border: 1px solid $primary;
    color: $primary;
}

.raiting {
    padding-left: 0;

    li {
        display: inline;
        list-style: none;
    }
}

.panel {
    .panel__label {
        margin: 0 0.5em 0 0;
        vertical-align: middle;
    }
    .panel__filter-input {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5em;
    }
}

.userMenu__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.custom-file-label::after {
    background-color: $secondary
}
.form-footer {
    padding: 1rem 0;
    text-align: right;
    border-top: 1px solid $modal-header-border-color;
}
.form-footer-modal {
    margin: 0 -1rem -1rem;
    padding: 1rem;
}

.icon-decorator {
    color: $lighter2;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: $lighter2;
  }