// colors:
$lighter: #27283D;
$lighter2: #2E3054;

$body-bg: #1E1D30;
$body-color: rgb(222, 222, 248);
$primary: #BE54EE !default;
$secondary: $lighter;
$info: #3461A1;

// nav
$navbar-dark-color: white;
$navbar-dark-active-color: $lighter;

// jumbotron
$jumbotron-bg: $lighter;

// dropdown variables
$dropdown-bg: $lighter;
$dropdown-color: white;
$dropdown-link-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $primary;
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: $primary;

// forms
$input-bg: $lighter;
$input-color: white;
$input-border-color: $primary;
$modal-header-border-color: rgb(9, 9, 26);

// modals
$modal-content-bg: $lighter2;

// breadcrumbs
$breadcrumb-bg: $lighter2;


@import "../../node_modules/bootstrap/scss/bootstrap";

// custom
.navbar-brand span {
    font-size: 20px;
    line-height: 38px;
    background-color: $lighter2;
    border-radius: 50%;
    color: $primary;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

#main {
    padding-top: 50px;
}
hr {
    border-top: 1px solid $primary;
}
.card {
    background-color: transparent;
}
.card-body {
    background-color: $lighter;
}
.btn-custom {
    border: 1px solid $primary;
    color: $primary;
}

.raiting {
    padding-left: 0;

    li {
        display: inline;
        list-style: none;
    }
}